black
blinker
certifi
charset-normalizer
click
flake8
Flask
flask-cors
idna
iniconfig
isort
itsdangerous
Jinja2
MarkupSafe
mccabe
mypy-extensions
numpy<2.0.0
packaging
pandas
pathspec
platformdirs
pluggy
pycodestyle
pyflakes
pytest
python-dateutil
pytz
requests
six
tzdata
urllib3<2.0.0
Werkzeug
google-api-python-client
python-dotenv
sqlalchemy
isodate==0.6.1
sqlalchemy
psycopg2-binary
google-api-python-client
python-dotenv
isodate
gunicorn
